/* CSS-переменные для цветов и шрифтов */
:root {
  --primary-bg-color: #8174a0;
  --primary-text-color: #cfebc7;
  --hover-bg-color: #441752;
  --font-family: 'Shantell Sans', sans-serif;
}

.container {
  padding: 20px;
}

.section-title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-family: var(--font-family);
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  padding: 10px;
  border-radius: 8px;
}

.horizontal-list {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 16px;
}

.card {
  min-width: 250px;
  margin: 0 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
  position: relative; /* Для позиционирования изображений внутри карточки */
  overflow: hidden; /* Чтобы изображения не выходили за границы карточки */
}

.card:hover {
  background-color: var(--hover-bg-color);
}

.card-media {
  height: 140px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Стили для изображений зверушек */
.corner-image {
  position: absolute;
  width: 50px; /* Размер изображения */
  height: 50px;
  z-index: 1; /* Чтобы изображение было поверх карточки */
  transition: transform 0.3s ease; /* Анимация при наведении */
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

/* Анимация при наведении на карточку */
.card:hover .corner-image {
  transform: scale(1.1); /* Увеличиваем изображение при наведении */
}

/* Анимация для изображения в левом верхнем углу */
.card:hover .top-left {
  transform: rotate(15deg) scale(1.1); /* Поворот и увеличение */
}

/* Анимация для изображения в правом нижнем углу */
.card:hover .bottom-right {
  transform: rotate(-15deg) scale(1.1); /* Поворот и увеличение */
}