/* Добавьте эти стили в MainPage.css */

@keyframes underline-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.section-title {
  position: relative;
  display: inline-block;
}

.section-title::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #8174A0;
  transition: width 0.5s ease;
}

.section-title:hover::after {
  width: 100%;
}

.title-container {
  position: relative;
  padding: 8px 16px;
  border: 2px solid #8174A0;
  border-radius: 8px;
}